@model RatingViewModel

@{
    ViewData["Title"] = "Rate";
}

<h1>Rate</h1>

<h4>Rating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Rate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RatingValue" class="control-label"></label>
                <input asp-for="RatingValue" class="form-control" />
                <span asp-validation-for="RatingValue" class="text-danger"></span>
            </div>
            <input asp-for="BeerId" class="form-control" value="@Model.BeerId" hidden />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
